html {
    height: 100%;
    width: 100%;
}
body {
	margin: auto;
	background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}


header {
	background-color: white;
	padding: 10px;
	text-align: center;
    padding-right: 8%;
	border-bottom: solid;
    border-width: 1px;
    border-color: #E6E6FA;
    
}


header img{
	width: 20%;
	height: auto;	
}




.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu ul li {
	padding: 0px;
    background-color: white;
    color: #ffffff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #E6E6FA;
    padding-top: 10px;
    padding-bottom: 10px;

}

.menu ul li:hover {
	background-color: tomato;
}

.menu ul li a {
	text-decoration: none;
} 

.menu ul li a:hover{
	color: black;
}

.menu ul li a:visited{
	color: black;
}


[class*="topic_"] {
    border-bottom: solid;
    border-width: 1px;
    border-color: #E6E6FA;
    padding: 15px;
    padding-left: 20px;

}

ol {
    list-style-type: upper-roman;
}

/* Smartphones*/
[class*="divider"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #E6E6FA;
    }

    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:75%;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #E6E6FA;
    }

    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:75%;
    }


}