html {
    height: 100%;
    width: 100%;
}
body {
	margin: auto;
	background-image: url("subtle_dots.png");
    position: relative;
    height: 100%;
    width: 100%;

}

* {
    box-sizing: border-box;
}


header {
	padding: 10px;
	text-align: center;
    padding-right: 8%;
	border-bottom: solid;
    border-width: 1px;
    border-color: #36d7b7;
    
}


header img{
	width: 10%;
	height: auto;	
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	padding: 0px;
    color: #ffffff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #36d7b7;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 20%

}

.menu ul li:hover {
	background-color: #BBE8E4;
}

#ai {
    background-image: url(ai.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 2em auto;
}

#game {
    background-image: url(game.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 2em auto;
}

#comp_sys {
    background-image: url(network.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 2em auto;
}

#comp_vis {
    background-image: url(eye.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 2em auto;
}

#human_comp {
    background-image: url(human.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 2em auto;
}

#web {
    background-image: url(web.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em auto;
}

.menu ul li a {
    color: black;
	text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

} 


.menu ul li a:visited{
	color: black;
}

.menu ul li a:hover{
    
}

.main_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    
}

.main_text a:visited {
    color: #248f8f;
}

.main_text a:hover {
    color: #7AE2CF;
}

[id*="topic_"] {
    border-bottom: solid;
    border-width: 1px;
    border-color: #36d7b7;
    padding: 15px;
    padding-left: 20px;

}


ol {
    list-style-type: upper-roman;
}

footer {
    font-size: 0.9em;
}

ul {
    list-style-type: square;
}

#name {
    font-weight: bold;
}

/* Smartphones*/
[class*="divider"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #36d7b7;
        overflow:scroll;
    }


    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:80%;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #36d7b7;
        overflow:scroll;
    }


    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:80%;
    }


}