html {
    height: 100%;
    width: 100%;
}
body {
	margin: auto;
	background-image: url("subtle_dots.png");
    position: relative;
    height: 100%;
    width: 100%;

}

* {
    box-sizing: border-box;
}


header {
	padding: 10px;
	text-align: center;
    padding-right: 8%;
	border-bottom: solid;
    border-width: 1px;
    border-color: #68EBDD;
    
}


header img{
	width: 10%;
	height: auto;	
}

header h1{
    font-family: 'Open Sans', sans-serif;
    
}




.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    text-align: center;

}

.menu ul li {
	padding: 0px;
    color: #ffffff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #68EBDD;
    padding-top: 31px;
    padding-bottom: 30px;

}

.menu ul li:hover {
	background-color: #BBE8E4;
}

.menu ul li a {
	text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

} 

.menu ul li a:hover{
	color: #68EBDD;
}

.menu ul li a:visited{
	color: black;
}

.main_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    
}

.main_text a:visited {
    color: #248f8f;
}

.main_text a:hover {
    color: #7AE2CF;
}

[class*="topic_"] {
    border-bottom: solid;
    border-width: 1px;
    border-color: #68EBDD;
    padding: 15px;
    padding-left: 20px;

}


ol {
    list-style-type: upper-roman;
}

footer {
    font-size: 0.9em;
}

ul {
    list-style-type: square;
}

#name {
    font-weight: bold;
}

/* Smartphones*/
[class*="divider"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #68EBDD;
    }

    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:80%;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 200%;
        border-right: solid;
        border-width: 1px;
        border-color: #68EBDD;
    }

    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:80%;
    }



}