/* The style of the site has been inspired
 * by the course website. However, this is my own
 * implementation of the design, and I am confident
 * that the code is different.  
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

/* GENERAL STYLING */

body {
    margin: auto;
    background-image: url("../images/stucco.png");
    position: relative;
    height: 100%;
    width: 100%;
}

[id*="topic_"] {
    border-bottom: solid;
    border-width: 1px;
    border-color: #FDD2B5;
    padding: 15px;
    padding-left: 20px;
}

figure {
    overflow: hidden;
    text-align: center;
}

h2 {
    color: #4F4F4F;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: square;
}


/* HEADER */

header {
    padding: 10px;
    text-align: center;
    padding-right: 8%;
    border-bottom: solid;
    border-width: 1px;
    border-color: #FDD2B5;
}

    header img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: auto;
    }

    header h1 {
        font-family: 'Rokkitt', serif;
        font-weight: bold;
        font-size: 2.5em;
        color: #4F4F4F;
    }


/* MENU */

nav {

}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            padding: 0px;
            color: #ffffff;
            border-bottom: solid;
            border-width: 1px;
            border-color: #FDD2B5;
            padding-top: 31px;
            padding-bottom: 30px;
            padding-left: 10%;
            padding-right: 20%

        }

        nav ul li:hover {
            background-color: #ACDBC9;
        }

            nav ul li a {
                color: black;
                text-decoration: none;
                font-family: 'Rokkitt', serif;
                font-weight: bold;
            } 

            nav ul li a:visited{
                color: #4F4F4F;
            }

    /* The positioning of the icons for every menu section */        

    nav #ai {
        background-image: url(../images/icons/ai.png);
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 2em auto;
    }

    nav #game {
        background-image: url(../images/icons/game.png);
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 2em auto;
    }

    nav #comp_sys {
        background-image: url(../images/icons/network.png);
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 2em auto;
    }

    nav #human_comp {
        background-image: url(../images/icons/human.png);
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 2em auto;
    }

    nav #web {
        background-image: url(../images/icons/web.png);
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 1.5em auto;
    }


/* MAIN */

main {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    color: #272821;
}

    main a {
        color: #248f8f;
    }

    main a:visited {
        color: #528585;
    }

    main a:hover {
        color: #3EACA8;
    }

/* FOOTER */

footer {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #272821;
}

    footer a {
        color: #248f8f;
    }


    footer a:visited {
        color: #528585;
    }


    footer a:hover {
        color: #3EACA8;
    }

    footer #name {
        font-weight: bold;
    }


/* RESPONSIVE DESIGN */

/* For mobile phone (vertical view): 320x480; */
[class*="divider"] {
    width: 100%;
}

/* Mobile phone (horizontal view) and tablet (vertical view): 
   480x320, 768x1024 */
@media only screen and (min-width: 480px) {

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        border-right: solid;
        border-width: 1px;
        border-color: #FDD2B5;
        overflow:scroll;
    }


    .second_col {
         position:absolute;
         top:0;
         right:0;
         width:80%;
    }

}

/* For tablet (horizontal view): 1024x768 */
@media only screen and (min-width: 1024px) {

    .container:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

    .left, .right {
        float: left;
        width: 50%;
    }

}

/* For desktop: 1280x980 */
@media only screen and (min-width: 1280px) {

    .image_container:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    .left_image, .right_image {
        float: left;
        width: 40%;
    }

}


